html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  canvas {
    display: block;
  }
  
h1{
    display: block;
    font-size: 4em;
    font-weight: bold;
    color: black;
    font-family: helvetica;
    /* margin-left: 1em; */
 }

 h2{
     display: block;
     font-size: 1.3em;
     /* margin-left: 1em; */
     font-weight: normal;
     font-family: helvetica;
     color:white;
 }

 h3{
  display: block;
  font-size: 2.2em;
  font-weight: bold;
  color: white;
  font-family: helvetica;
  margin-left: 13em;
  margin-top: 6em;
}

h4{
  display: block;
  font-size: 1em;
  /* font-weight: regular; */
  color: #ffacca;
  font-family: helvetica;
  margin-left: 28.5em;
  margin-top: 3em;
}

.button {
  background-color: white;
  border: none;
  color: black;
  font-family: helvetica;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 22.8em;
  top: 29em;
}

 input{
    
     font-size: 1em;
     color: clear;
     background-color: clear;

     font-family: helvetica;
 }

